/* ====================================================================== Responsive =================== */

@media (min-width: 320px) and (max-width: 640px) {
  /* ================== Navbar ================= */
  .navbar-toggler {
    background-color: white;
  }

  .nav {
    top: 20px;
  }

  .nav .navbar-nav {
    background-color: #2a2929;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

  .nav .navbar-nav {
    margin-top: 15px !important;
  }

  .nav .navbar-nav li {
    margin: 0px;
    padding: 25px 0;
  }

  .nav li a:hover {
    color: #4756df;
  }

  .nav .bottom {
    display: none;
  }

  /* ================= Banner ================== */
  #banner .overlay {
    padding: 200px 0 176px 0;
  }

  #banner .heading h1 {
    font-size: 50px;
    width: auto;
  }

  #banner .brief p {
    font-size: 16px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  /* ================= Success ================= */
  #success_rate {
    margin-top: 100px;
  }

  #success_rate .bg {
	padding: 50px 50px;
}

#success_rate .bg .content h4 {
	font-size: 20px;
	margin-bottom: 5px;
}

#success_rate .bg .content h3 {
	font-size: 30px;
	width: auto;
    margin-bottom: 20px;
}

#success_rate .bg .item h2 {
	font-size: 40px;
	line-height: 60px;
    margin-bottom: 0;
}

#success_rate .bg .item h5 {
	margin-bottom: 20px;
}

  /* ================= Service ================= */
  #service {
	margin-top: 100px;
}

#service .content {
	text-align: center;
	width: auto;
}

#service .content h2 {
	font-size: 40px;
}

#service .content p {
	margin-top: 10px;
}

  /* ================= Recent ================== */
#recent_work {
	margin-top: 100px;
}

#recent_work .padding {
	padding: 100px 0;
}

#recent_work .content {
	text-align: center;
	width: auto;
}

#recent_work .content h2 {
	font-size: 40px;
}

#recent_work .content p {
	margin-top: 10px;
}

#recent_work .works .custom-card picture img {
    width: 100%;
}

  /* ================= Choose ================== */
#choose_agence {
	margin-top: 100px;
}

#choose_agence .content {
	text-align: center;
	width: auto;
}

#choose_agence .content h2 {
	font-size: 40px;
}

#choose_agence .content p {
	margin-top: 10px;
}

#choose_agence .gap {
	margin-top: 70px;
}

#choose_agence .gap .group p {
	width: auto;
}

#choose_agence .gap .space-between {
	row-gap: 40px;
}

  /* ================= Review ================== */
#client_review {
	margin-top: 100px;
	margin-bottom: 100px;
}

#client_review .content {
	text-align: center;
	width: auto;
}

#client_review .content h2 {
	font-size: 40px;
}

#client_review .content p {
	margin-top: 10px;
}

#client_review .review p {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #7b7b7b;
	margin: 20px 0;
	width: auto;
}

  /* ================= Quote =================== */
  #quote .content {
	text-align: center;
	width: auto;
}

#quote .content h2 {
	font-size: 40px;
    width: auto;
}

#quote .content p {
	margin-top: 10px;
    width: auto;
}

#quote .content .second {
	margin-bottom: 40px;
}

#quote .form {
	width: auto;
}

#quote .form h2 {
	margin-bottom: 40px;
}

  /* ================= Footer ================== */
  footer .content p {
	margin-bottom: 30px;
}

footer .custom-margin .list{
    row-gap: 40px;
}

footer .custom-margin .list .link{
    width: 50%;
}

footer .custom-margin .list .link h4 {
	margin-bottom: 15px;
}
}
/* ======================================================================================================================= */

